---
- name: create /data directory
  file:
    path: /data
    state: directory
    mode: 755

- name: create /data/nginx-origin directory
  file:
    path: /data/nginx-origin
    state: directory
    mode: 755

- name: generate nginx.conf file
  template:
    src: nginx.conf.j2
    dest: /data/nginx-origin/nginx.conf

- name: generate default.conf file
  template:
    src: nginx_default.conf.j2
    dest: /data/nginx-origin/default.conf

- name: deploy nginx for origin
  community.docker.docker_container:
    name: nginx
    image: nginx:1.21.4
    ports:
      - 80:80
    volumes:
      - /data/nginx-origin/nginx.conf:/etc/nginx/nginx.conf
      - /data/nginx-origin/default.conf:/etc/nginx/conf.d/default.conf
    restart_policy: always
    state: started
  vars:
    ansible_python_interpreter: /usr/bin/python3
