---
- ansible.posix.sysctl:
    name: net.core.netdev_max_backlog
    value: 20480
    reload: true
- name: Apply rmem_max sysctl
  ansible.posix.sysctl:
    name: net.core.rmem_max
    value: 16777216
    reload: true
- name: Apply wmem_max sysctl
  ansible.posix.sysctl:
    name: net.core.wmem_max
    value: 16777216
    reload: true


